<!DOCTYPE html>
<html>

<head>
    <title>Liverpool Cafe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/views-index.css' />
    <link rel='stylesheet' href='/stylesheets/liverpools-index.css' />
    <link rel='stylesheet' href='/stylesheets/liverpools-match.css' />
    <script defer src="/javascripts/matchdates.js"></script>

</head>

<body>
    <%- include('../partials/header') %>

        <% console.log(matchdates) %>
            <% matchdates.forEach(function(m) { %>
                <div class="main-container container">
                    <div class="container matchday">
                        MATCHDAY <%= m.matchday %>
                    </div>
                    <div class="container teaminfo">
                        <div id="team1" class="container team1 teamElement">
                            <%= m.team1 %>
                        </div>
                        <div id="score1" class="container score teamElement">
                            <%= m.score1 %>
                        </div>
                        <div class="container vs teamElement">
                            vs
                        </div>
                        <div id="score2" class="container score teamElement">
                            <%= m.score2 %>
                        </div>
                        <div id="team2" class="container team2 teamElement">
                            <%= m.team2 %>
                        </div>
                    </div>

                    <div class="container date">
                        <%= m.date %>
                    </div>
                </div>
                <% }) %>

</body>

</html>