<!DOCTYPE html>
<html>

<head>
    <title>Liverpool Cafe</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/views-index.css' />
    <link rel='stylesheet' href='/stylesheets/liverpools-index.css' />
    <link rel='stylesheet' href='/stylesheets/liverpools-show.css' />
    <script defer type="text/javascript" src="/javascripts/editComments.js"></script>

</head>
<%=console.log(liverpool) %>

    <body>
        <%- include('../partials/header') %>
            <div class="main-container border">
                <div class="container">
                    <div class="row">
                        <div class="player-card col-sm border">
                            <div class="player-details container">
                                <div class="container">
                                    <span class="player-name details">
                                        <%=liverpool.playerName%><br>
                                    </span>
                                </div>
                            </div>

                            <div class="player-image">
                                <a href="/liverpools/<%=liverpool._id%>">
                                    <img src="<%=liverpool.img%>" alt="">
                                </a>
                            </div>

                            <div class="player-details container">
                                <div class="container">
                                    <span class="titles">Jersey Number: </span>
                                </div>
                                <div class="details-container container">
                                    <span class="details">
                                        <%=liverpool.playerNo%><br>
                                    </span>
                                </div>
                            </div>

                            <div class="player-details container">
                                <div class="container">
                                    <span class="titles">Age: </span>
                                </div>
                                <div class="details-container container">
                                    <span class="details">
                                        <%=liverpool.age%><br>
                                    </span>
                                </div>
                            </div>

                            <div class="player-details container">
                                <div class="container">
                                    <span class="titles">Position: </span>
                                </div>
                                <div class="details-container container">
                                    <span class="details">
                                        <%=liverpool.position%><br>
                                    </span>
                                </div>
                            </div>

                            <div class="player-details container">
                                <div class="title.container container">
                                    <span class="titles">National Team: </span>
                                </div>
                                <div class="details-container container">
                                    <span class="details">
                                        <%=liverpool.nationalTeam%><br>
                                    </span>
                                </div>
                            </div>

                            <% if (user) { %>
                                <div class="player-details container">
                                    <div class="title.container container">
                                        <span class="titles">Favorite: </span>
                                    </div>
                                    <div class="details-container container">
                                        <% countValue=0; %>
                                            <% if (liverpool.favorite.length>= 1) { %>
                                                <% for (let i=0; i <liverpool.favorite.length; i++) { %>
                                                    <% if (liverpool.favorite[i].user.equals(user._id)) { %>
                                                        <% countValue=1; %>
                                                            <% break } %>
                                                                <% } %>

                                                                    <% if (countValue===1) { %>
                                                                        <span class="details">
                                                                            <div class="custom-control custom-switch">
                                                                                <form id="delete-favorite-form"
                                                                                    action="/liverpools/<%= liverpool._id %>?_method=DELETE"
                                                                                    method="POST">
                                                                                    <button
                                                                                        class="btn btn-sm btn-danger"
                                                                                        type="submit"
                                                                                        name="favorite">Remove
                                                                                        Favorite</button>
                                                                                </form>
                                                                            </div>
                                                                        </span>
                                                                        <% } else { %>
                                                                            <span class="details">
                                                                                <div
                                                                                    class="custom-control custom-switch">
                                                                                    <form id="add-favorite-form"
                                                                                        action="/liverpools/<%= liverpool._id %>/favorite"
                                                                                        method="POST">
                                                                                        <button
                                                                                            class="btn btn-sm btn-success"
                                                                                            type="submit"
                                                                                            name="favorite">Add
                                                                                            Favorite</button>
                                                                                    </form>
                                                                                </div>
                                                                            </span>
                                                                            <% } %>

                                                                                <% } else { %>
                                                                                    <span class="details">
                                                                                        <div
                                                                                            class="custom-control custom-switch">
                                                                                            <form id="add-favorite-form"
                                                                                                action="/liverpools/<%= liverpool._id %>/favorite"
                                                                                                method="POST">
                                                                                                <button
                                                                                                    class="btn btn-sm btn-success"
                                                                                                    type="submit"
                                                                                                    name="favorite">Add
                                                                                                    Favorite</button>
                                                                                            </form>
                                                                                        </div>
                                                                                    </span>
                                                                                    <% } %>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>

                <div class="container comments border">
                    <div class="create-comment">
                        <% if (user) { %>
                            <form class="comment-form" id="add-content-form" method="POST"
                                action="/liverpools/<%= liverpool._id %>/comments">
                                <textarea placeholder=" your comment.." class="form-control" name="content"
                                    required></textarea>
                                <input class="btn btn-primary" type="submit" value="Comment">
                            </form>
                            <% } %>
                    </div>
                    <div class="user-comments">
                        <% if (liverpool.comments.length) { %>

                            <div class="comments-box container overflow-auto">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="table-header">
                                            <th>
                                            </th>
                                            <th>Comments
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="overflow-auto">
                                        <% liverpool.comments.forEach(function(c) { %>
                                            <tr class="comment-row">
                                                <td class="user avatar">
                                                    <p class="username">
                                                        <img class="avatar-image" src="<%= c.userAvatar %>" />
                                                        <%= c.userName.split(" ")[0] %>
                                                    </p>
                                                    <p class=" datetime">
                                                            Created:
                                                            <%= c.createdAt.toLocaleString() %>
                                                    </p>
                                                    <% if (c.createdAt < c.updatedAt) { %>
                                                        <p class="updated-datetime">
                                                            Updated:
                                                            <%= c.updatedAt.toLocaleString() %>
                                                        </p>
                                                        <% } %>
                                                </td>
                                                <td class="user-comment">
                                                    <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
                                                        <p id="userComment">
                                                            <%= c.content %>
                                                        </p>
                                                    </form>
                                                </td>

                                                <td class="deleteEdit">
                                                    <% if (user && user._id.equals(c.user)) { %>
                                                        <form id="deleteForm"
                                                            action="/comments/<%= c._id %>?_method=DELETE"
                                                            method="POST">
                                                            <button class="btn btn-sm btn-danger"
                                                                type="submit">X</button>
                                                        </form>
                                                        <button class="btn btn-sm btn-primary edit"
                                                            id="edit">Edit</button>
                                                        <% } %>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <% } %>

                                <% if (user && liverpool.comments.length>2) { %>
                                    <p class="scroll">Scroll for
                                        more comments</p>
                                    <% } %>
                    </div>
                </div>
            </div>

</html>